

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}
.author{
    position: fixed;
    bottom: 0;
    right: 0px;
    background-color: aqua;
    padding: 5px;
    font-size: 18px;
}
a{
    color:white;
    cursor: pointer;
}
.header{
    background-color:#2f3542;
    color: white;
    font-size: 50px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    height: 100%;
}
.navbar a{
    padding: 20px 30px;
}

.navbar a:hover{
    background-color: #000000;
}

footer{
    background-color:#2f3542;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

#root{
    overflow: auto;
    white-space:nowrap ;
}

table{
    border-collapse: collapse;
    width: 96%;
    margin:20px auto;
    text-align: center;
    background-color: #ecf0f1;
    font-size: 25px;
}
th{
    border: 1px solid gray;
    padding: 20px;
    font-weight: bolder;
}
td{
    border: 1px solid gray;
    padding: 15px;
}
tr:nth-child(even){
    background-color: #dfe6e9;
}
.recovered{
    color: green;
}
.active{
    color: blue;
}
.deaths{
    color: gray;
}
.totalconfirmed{
    color: red;
}
#totaldetails{
    margin: 20px;
}
.lastupdatedate{
    text-align: center;
}

#initialData{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 10px auto;
}
.totaldata{
    border: 1px solid rgba(146, 146, 146, 0.219);
    border-radius: 10px;
    padding: 10px;
    margin:20px 20px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    transition: all 0.5s;
}
.totaldata:hover{
    transform: scale(1.2);
}

#initialData >.recovered:hover{
    background-color:rgba(132, 255, 132, 0.219);
}
#initialData >.totalconfirmed:hover{
    background-color:rgba(255, 138, 138, 0.322);
}
#initialData >.deaths:hover{
    background-color:rgba(128, 128, 128, 0.245);
}
#initialData >.active:hover{
    background-color:#50a4f76e;
}
.counts
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.newcounts{
    font-size: 15px;
    margin-bottom: 10px;
}


































#fromstartingData{
    background-color: #c7ecee;
}

#fromstartingcontainer {
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;

}
#fromstartingcontainer::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: aqua;
}
.content{
    border: 1px solid rgba(128, 128, 128, 0.308);
    border-radius: 20px;
    padding: 15px;
    background-color: #fff;
}

.content h2{
    text-align: center;
    margin: 10px 0px 40px 0px;
}
.content ul{
    margin: 10px;
}
.content ul li{
    margin-left: 40px;
}
.leftdata{
    width:30%;
    position: relative;
    left: 15%;
    margin: 10px 0;
}
.leftdata .content::before{
    content: "";
    position: absolute;
    width: 30px ;
    height: 30px;
    right: -15px;
    top: 30px;
    transform: rotate(45deg);
    background-color: #fff;
}
.rightdata{
    width:30%;
    position: relative;
    left: 56%;
    margin: -50px 0;
}
.rightdata .content::before{
    content: "";
    position: absolute;
    width: 30px ;
    height: 30px;
    left: -15px;
    top: 30px;
    transform: rotate(45deg);
    background-color: #fff;
}
